* {
    margin: 0;
    padding: 0;
}
.form-wrapper{
    padding: 100px 0;
}
.form-item{
    margin: 10px;
}
textarea{
    height: 38px!important;
}
.sbmt-btn{
    /*color: #363646;*/
    /*background: #c7c7d6!important;*/
    /*font-size: 18px;*/
    background-color: #ccccd9;
}
.sbmt-btn:hover{
    background-color: #9c97a1;
    color: white;
    font-size: 16px;
}
.input-file{
    margin-left: 15px!important;
    margin-right: 15px!important;
}
#error_list{
    display: none;
}
.displayBlock{
    display: block!important;
}
